# Default Caddyfile for use with Coraza WAF
# See https://github.com/corazawaf/coraza-caddy for Caddy + Coraza specific information.

# Ensure Coraza WAF runs first - this must be included for Coraza to be working
{
  order coraza_waf first
}

# Create the HTTP listener
:${PORT} {

  # Load Coraza configuration
  coraza_waf {

    # Main configuration file
    include /opt/coraza/config/coraza.conf

    # User defined configuration files
    include /opt/coraza/config.d/*.conf

    # OWASP Core Rule Set (CRS) Setup
    include /opt/coraza/config/crs-setup.conf

    include /opt/coraza/owasp-crs/plugins/*-config.conf
    include /opt/coraza/owasp-crs/plugins/*-before.conf

    # User plugins Setup
    include /opt/coraza/plugins/*-config.conf
    include /opt/coraza/plugins/*-before.conf

    # OWASP Core Rule Set (CRS)
    include /opt/coraza/owasp-crs/rules/*.conf

    include /opt/coraza/owasp-crs/plugins/*-after.conf

    # User plugins after
    include /opt/coraza/plugins/*-after.conf

    # Other baked in rule sets or configurations
    include /opt/coraza/rules/*.conf

    # User defined rule sets
    include /opt/coraza/rules.d/*.conf

    # Any overrides specified in env vars
    include /opt/coraza/overrides/*.conf
  }

  # Proxy traffic to the relevant container(s)
  reverse_proxy ${BACKEND} {
    trusted_proxies private_ranges
  }

  log {
		output file ${ACCESSLOG}
	}


}
